@padding-gap: 20px;

.json-block {
    padding-left: @padding-gap;
    .json-key {
        color: red;
    }
    .json-arr-item,
    .json-prop {
        padding-left: @padding-gap;
        margin-left: -@padding-gap;
        &.can-expend {
            position: relative; //待测试的点
        }
        &.collapsed {
            > .json-block {
                display: none;
            }
            > .icon-ell::before {
                color: #aaa;
                content: "\2026";
                font-weight: bold;
            }
        }
        .json-expend-icon {
            display: inline-block;
            position: absolute;
            width: @padding-gap;
            left: 0;
            top: 0;
            text-align: center;
        }
    }
}

.json-diff-block {
    padding-left: @padding-gap;
    .json-diff-row {
        .json-diff-left {
            display: inline-block;
            width: 50%;
            vertical-align: top;
        }
        .json-diff-right {
            display: inline-block;
            width: 50%;
            vertical-align: top;
        }
    }
    .json-diff-key {
        color: red;
    }
   
    .json-diff-row.collapsed + .json-diff-block {
        display: none;
    }

    .json-diff-expend-icon {
        display: inline-block;
        width: @padding-gap;
        text-align: center;
    }
}